<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <body>
    <table border="1">
    <tr>
      <td>Name</td>
      <td>Skill</td>
      <td>Years</td>
      <td>Formal</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.name%></td>
      <td><%=user.skills%></td>
    </tr>
    <% end %>
    </table>
    <br><br>
     <label>Skills</label>
    <form action="/" method="post">
    <input type="checkbox" name="skill" value="skills[ninja]">Ninja<br>
    <input type="checkbox" name="skill" value="skills[magic]">Magic<br>
    <input type="checkbox" name="skill" value="skills[flying]">Flying<br>
    <input type="checkbox" name="skill" value="skills[telekinesis]">Telekinesis<br>
    </form>
  </body>
</div>
