<div class="container">
  
  <h1>Sign Up, Homie</h1>

  <div class='form'>
    <form action="/users" method="post">
      <input type="text" name="user[name]" placeholder="Please enter your first name"><br>
      <input type="text" name="user[email]" placeholder="Please enter your email"><br>
      <input type="password" name="user[password]" placeholder="Please create a password"><br>
      <input type="submit" value="It's Business Time!">
    </form>
  </div>
  <a href="/">Home Is Where the Heart Is</a>
</div>